<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel='stylesheet' href='/static/styles.css'/>
        <meta charset="UTF-8">
        <title>WorkoutLover</title>
        <link rel='stylesheet' href='/static/bootstrap.min.css'>
    </head>
    <body>
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/"><img class="logo" src="/static/logo.png" alt="logo"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create-exercise">LOG AN EXERCISE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view-list">VIEW EXERCISES</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br />
        <br />
        <div class="init-text">
            <p>Welcome to WorkoutLover.</p>
            <p class='start'>Start logging your workouts now!</p>
            <e class='start'>Track sets, reps, and weights of your exercises to see progress over time.</e><br />
            <a href="/"><img class="logo" src="/static/logo.png" alt="logo"></a>
            <a href="create-exercise" style="color: #3299C9";>Log Exercise:</a>
        </div>
    </body>
</html>